{% extends 'metronic/base.html' %}
{% load static %}
{% block title %}Appointment List{% endblock  %}
{% block css %}
{% endblock  %}
{% block body %}

<!--Begin::Section-->
<div class="row">

    {% if appointment != 0 %}
        {% for data in appointment %}
        {% if data.status == False %}
            <div class="col-xl-3">
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head kt-portlet__head--noborder">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">

                    </h3>
                </div>
                
            </div>
            <div class="kt-portlet__body kt-portlet__body--fit-y kt-margin-b-40">
                <!--begin::Widget -->
                <div class="kt-widget kt-widget--user-profile-4">
                    <div class="kt-widget__head">
                    <div class="kt-widget__media">
                            <img class="" src="{{data.product.img_thumb.url}}" style="margin-left: 20px;margin-right: 20px;" alt="image">
                            <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-boldest kt-hidden">
                                BP
                            </div>
                        </div>
                        <div class="kt-widget__content">
                            <div class="kt-widget__section">
                                <a href="#" class="kt-widget__username">
                                   {{data.address.village}}
                                </a>
                                <form method="post" action="">{% csrf_token %}
                                    <input type="hidden" name="appo_id" value="{{data.id}}">
                                <div class="kt-widget__button">
                                    <select name="emp_id" id="" class="custom-select">
                                        {% for datae in employee %}
                                            <option value="{{datae.id}}">{{datae}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="kt-widget__action">
                                    <input type="submit" class="btn btn-outline-primary">
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end::Widget -->
            </div>
        </div>
    </div>
    {% endif %}
        {% endfor %}
    {% else %}{% endif %}



</div>
<!--End::Section-->

<!--Begin::Pagination-->
<div class="row">
    <div class="col-xl-12">
        <!--begin:: Components/Pagination/Default-->
<div class="kt-portlet">
    <div class="kt-portlet__body">
        <!--begin: Pagination-->
        <div class="kt-pagination kt-pagination--brand">
            <ul class="kt-pagination__links">
                <li class="kt-pagination__link--first">
                    <a href="#"><i class="fa fa-angle-double-left kt-font-brand"></i></a>
                </li>
                <li class="kt-pagination__link--next">
                    <a href="#"><i class="fa fa-angle-left kt-font-brand"></i></a>
                </li>

                <li>
                    <a href="#">...</a>
                </li>
                <li>
                    <a href="#">29</a>
                </li>
                <li>
                    <a href="#">30</a>
                </li>
                <li class="kt-pagination__link--active">
                    <a href="#">31</a>
                </li>
                <li>
                    <a href="#">32</a>
                </li>
                <li>
                    <a href="#">33</a>
                </li>
                <li>
                    <a href="#">34</a>
                </li>
                <li>
                    <a href="#">...</a>
                </li>

                <li class="kt-pagination__link--prev">
                    <a href="#"><i class="fa fa-angle-right kt-font-brand"></i></a>
                </li>
                <li class="kt-pagination__link--last">
                    <a href="#"><i class="fa fa-angle-double-right kt-font-brand"></i></a>
                </li>
            </ul>

            <div class="kt-pagination__toolbar">
                <select class="form-control kt-font-brand" style="width: 60px">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <span class="pagination__desc">
                    Displaying 10 of 230 records
                </span>
            </div>
        </div>
        <!--end: Pagination-->
    </div>
</div>
<!--end:: Components/Pagination/Default-->    </div>
</div>


{% endblock  %}
{% block js %}
{% endblock  %}